article
{
	margin: 50px 300px;
}


div
{
	background-image: url(buki.jpg);
	background-repeat: no-repeat;
	height:250px;
	width:250px;
	border-radius:50%;
	margin: 0 auto;
}


body
{
	background-color: rgb(179, 86, 0, 0.2);
	font-family:'Josefin Sans', sans-serif;
	
}

header
{
	text-align:center;
	color:#663100;
	size: 36px;
	
}

h2
{
	size: 26px;
	color:#e66b00;
}

h3
{
	size: 26px;
	color:#e66b00;
}

h4
{
	size: 26px;
	color:#e66b00;
}
p
{
		font-family: Josefin Sans;
		size: 18px;
		text-align: justify;
}

address{
	size:18px;	
	text-align: justify
	}

hr
{
	width:60%;
	height: 5px;
	background-color:#663100;	
}